@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-ExtraBold.ttf');
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    font-weight: 400;
}
.no-scrolled {
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
    background-color: #ffffff;
    transition: 0.5s;
    padding: 10px 0;
}
header.scrolled {
    padding: 0px 0;
}
.container {
    margin: 0 auto;
    max-width: 1380px;
    padding: 0 10px;
    width: 100%;
}
.container_s {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
}
.blog .section__title {
    text-align: center;
    padding-top: 30px;
}
.blog_article__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 30px 0;
}
.blog_article__content .blog__prev {
    width: 100%;
    height: 200px;
}
.blog__btn-more {
    color: #ffffff;
    background-color: #13a537;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 auto;
    transition: .2s;
    font-weight: 500;
}
.blog__btn-more:hover {
    background-color: #167e30;
}
.blog_article__content .blog__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    background-color: #13a537;
}
.blog_article__content .blog_item::after {
    top: 10px;
    bottom: auto;
    right: 10px;
   
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-shrink: 0;
    height: 50px;
    max-width: 220px;
    width: 100%;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
}

.nav_items {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.nav__wrapper {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}
.nav_item {
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav_item:hover {
    color: #13A538;

}
.header_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.nav_item.call {
    background: #13A538;
    border-radius: 8px;
    color: #ffffff;
    max-width: 220px;
    font-weight: 500;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    flex-grow: 0;
    
}
.btn_form-open {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #ffffff;
    color: #13a537;
    cursor: pointer;
    flex-shrink: 0;
    border: 2px solid #13a537;
}
.nav_item.call::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url('./img/whatsapp-svgrepo-com.svg') 50% / contain no-repeat;
}
.nav_item.call:hover {
    background: #167e30;
}
.catalog_list_menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 1em 2em;
    visibility: hidden;
    border-radius: 0 0 10px 10px;
    transform: scaleY(0) translateY(-100%);
    transition: 0.1s;
    

}
.nav_item:hover>.catalog_list_menu{
    visibility: visible;
    z-index: 3;
    transform: scaleY(1);
    
}
.catalog_list_menu li {
    margin-top: 1em;
    
}


.nav_item.call:hover {
    background-size: 100% 100%;
}

.menu {
    display: none;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    background: #ffffff;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    background: #ffffff;
}

.menu-list {
    top: 0;
    right:  0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.849);
    transform: translateX(100%);
    transition: .3s;
    width: 100%;
    
}

.menu-item {
    display: block;
    padding: 8px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item-list {
    display: block;
    padding: 8px;

    color: #ffffffa8;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255, 255, 255, .2)
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}
.main {
    padding-top: 70px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.main.no-gap {
    gap: 0px;
}
.section__title_center {
    text-align: center;
}
.section__title {
    font-size: 30px;
}

/* hero */
.hero {
    min-height: 550px;
    position: relative;
    display: flex;
    align-items: end;
    padding-bottom: 60px;
    text-align: center;
    background: url('./img/bg_main.webp') 50% 100% / cover;
    color: #ffffff;
}
.hero::before {
    content: '';
    position: absolute;
   
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000048;
}
.hero__title {
    font-weight: 800;
    font-size: 50px;position: relative;
    z-index: 1;
}
.hero__text {
    font-size: 26px;
    font-weight: 500;
    position: relative;
}
.logo_img_bg {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 263px;
    background: url('./img/logo_img.png') 50% / contain no-repeat;
    pointer-events: none;
}

/* about company */

.about_us__items {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.about_us__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    max-width: 450px;
}
.about_us__item-img_wrapper {
    width: 250px;
    height: 150px;
    flex-grow: 2;
}
.about_us__item-img_wrapper img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.about_us__item-title {
    font-weight: 500;
    font-size: 20px;
}
.about_us__item-text {
    font-size: 14px;
    line-height: 14px;
    color: #000000ab;
}
.section_why {
    padding: 30px 0;
    
}
.why_items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.why_item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    max-width: calc(50% - 16px);
    box-shadow: 3px 5px 5px 5px #0000002f;
    border-radius: 8px;
    background-color: #13A538 ;
    color: #ffffff;
    padding: 30px 16px 30px 30px;
    overflow: hidden;
    
    
}
.why_item::before {
    background: url('./img/info.svg') 50% / contain no-repeat;
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top:10px;
    right: 10px;
    z-index: 0;
    filter: blur(5px);
    transform: rotate(6deg);
    opacity: 0.5;
}
.why_item::after {
    background: url('./img/info2.svg') 50% / contain no-repeat;
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -100px;
    left: -50px;
    z-index: 0;
    filter: blur(5px);
    transform: rotate(-16deg);
}
.why_title {
    font-weight: 600;
    font-size: 23px;
    position: relative;
    z-index: 1;
}


.why_desc {
    position: relative;
    z-index: 1;
    color: #e9e9e9;
}

footer {
    
    background-color: #13A538;
    color: #ffffffb2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 16px;
    overflow: hidden;
}
footer::after {
    content: '';
    position: absolute;
    width: 500px;
    opacity: 0.5;
    filter: blur(2px);
    height: 150px;
    
    right: 0;
    bottom: -15px;
    background: url('./img/logo2.png') 50% / contain no-repeat;
}
.footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center
    
}
.footer__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__item-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.footer__contanct {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.politics_info__title {
    color: #ffffff;
}
.company-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.copyright {
    text-align: center;
    display: block;
    margin-top: 40px;
}



.catalog {
    display: flex;
    width: 100%;
    align-items: flex-start


}

.subcategory-item {
    padding: 0.5em 1em;
    cursor: pointer;
    color: #000000;
   transition: .2s; 
}
.subcategory-item.sub_active {
    background-color: #13a537;
    color: #ffffff;
    pointer-events: none;
}
.product__info {
    position: relative;
}
.availability {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #0000006c;
    color: #ff0404;
    font-weight: 800;
    font-size: 20px;
    border-radius: 16px;
}
.subcategory-item:hover {
    background-color: #00c73263;
}


.product-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   background-color: #302F2F;
   padding:10px;
   min-height: 400px;
   border-radius: 0 16px 16px 16px;
   
    
}
.product-container.container__polik-product .product h3 {
    font-size: 20px;
}
.product-container.container__polik-product {
    grid-template-columns: repeat(3,1fr);
}

.product-container.container__polik-product .btn-group-length {
    flex-direction: column;
   
}

.product-container.container__polik-product .product-description_polik {
    grid-template-columns: 1fr 1fr;
}
.product-container.container__polik-product .product {
    grid-template-columns: 1fr 1fr;
}

.product-container.container__polik-product .product-description__info {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 16px;
    color: #000000;
    border: 1px solid #0000002f;
}
.product__info_availability {
    opacity: 0.6;
}
.availability-info {
    padding: 20px;
    background-color: #13a537a9;
    color: #ffffff;
    font-size: 21px;
    border-radius: 16px;
    border: 1px solid #0000002f;
    grid-column: span 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.availability-info span:first-child {
    font-size: 30px;
    font-weight: 500;
}

.availability-info a:hover {
    text-decoration: underline;
}
.product {
    width: 100%;
    
    background: #ecebeb;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;
    

}
.product__desc_container {
    grid-column: 1 / 3;
    display: flex;
}
.content {
    flex-grow: 2;
}


.product img {
   width: 100%;
   border-radius: 16px;
height: 100%;
padding: 5px;
object-fit: cover;
    position: relative;
    background-color: #13a537;
    border: 1px solid #0000002f;
}
.product h3 {
    font-size: 28px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #13a537;
    border-radius: 16px;
    color: #ffffff;
    border: 1px solid #0000002f;
}
.selector-descs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 2;
    padding: 5px;
}
.product-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    display: none;
    flex-grow: 2;
    
}
.product-description_polik {
    grid-template-columns: 1fr;
    gap: 5px;
}

.product-description__info-price {
    flex-grow: 2;
    font-size: 30px;
    display: flex;
    align-items: last baseline;
    font-weight: 500;
    justify-content: end;
    padding: 5px 0;
    grid-column: 1/ 3;
    background-color: #13a537;
    padding: 10px;
    color: #ffffff;
    border-radius: 16px;
    border: 1px solid #0000002f;
   
    gap: 5px;
}
.product-description__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border: 1px solid #0000002f;
    background-color: #fff;
    
    border-radius: 16px;
}
.product-description__info:first-child {
    background-color: #13a537;
    padding: 10px;
    color: #ffffff;
    border-radius: 16px  16px 0 0;
}
.product-description__info:last-child {
    background-color: #13a537;
    padding: 10px;
    color: #ffffff;
    border-radius:0 0 16px  16px ;
}
.product-description__info span {
    font-size: 18px;
    font-weight: 500;
}
span.product-description__info-title {
    font-size: 16px;
    opacity: 0.8;
}
.product-description__info {
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
}
.des-active {
    display: grid;
}


.selector-descs button.active {
    background-color: #13A538;
    color: #fff;
    pointer-events: none;
}
.selector-descs.def {
    pointer-events: none; 
    opacity: 0.5;
}
.btn-group-length {
    display: flex;
    gap: 3px;
}
.google_protect {
    font-size: 10px;
    display: inline;
    opacity: 0.6;
}
.google_protect a {
    display: inline;
    color: #13a537;
}
.grecaptcha-badge {visibility: hidden;}
.selector-descs button {
   border: 1px solid #167e3086;
    cursor: pointer;
    background-color: #ffffff;
    
    color: #000000;
    font-weight: 500;
    width: 100%;
    padding: 3px;
    border-radius: 8px;
    font-size: 12px;
    transition: .2s;
    
}
.availability {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.selector-descs button:hover {
    background-color: #167e30;
    color: #ffffff;

}

.colors-polick {
    display: flex;
    height: 20px;
    border-radius: 8px;
    overflow: hidden;
    justify-content: space-around;
    width: 100%;

}

.colors-polick div {
    content: " ";
    flex-grow: 2;
    height: 100%;
    
}



.sidebar {
    color: #000;
    position: sticky;
   
    max-width: 236px;
    top: 50px;
   
    
}
.sidebar__title{
    font-size: 24px;
    background-color: #302F2F;
    margin: 0;
    padding: 5px 10px;
    color: #ffffff;
   
}
.sidebar__title:first-child {
    border-radius: 16px 0 0 0;
}

.wrapper_catalog_items {
    margin-top: 20px;
    gap: 15px;

    display: flex;
    justify-content: space-evenly;
}

.category_catalog {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    height: 300px;
    border-radius: 16px;
    position: relative;
   
    display: flex;
    align-items: center;
    text-align: center;
    
    background-image: url("img/теплица1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    filter: grayscale(0.7);
}
.category_catalog.teplica {
    background-image: url("img/teplica25t.jpg");
    background-position: center;
}
.category_catalog.carcas {
    background-image: url("img/polick.jpg");
}
.category_catalog h3 {
    color: #ffffff;
    position: absolute;
    z-index: 1;
    width: 100%;
    font-size: 1.3em;
}
.category_catalog:hover {
    filter: grayscale(0);
}

.category_catalog::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 16px;
    background: #000;
    opacity: 0.4;
}
.btn-group-polik {
display: grid;
gap: 3px;
grid-template-columns: 1fr 1fr 1fr;

}
.page_about {
    display: flex;
    justify-content: space-around;

}
.page_about .logo {
 display: flex;
 align-items: center;
 justify-content: center;
}
.company_contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.company_contacts-list {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}
.logo-page_about {
    max-height: 300px;
}
.logo-page_about img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contacts__wrapper {
    margin: 30px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}
.contacts__company-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.company_contacts span, .company_contacts a {
    font-weight: bold;
    display: inline-block;
}
.product_image {
    position: relative;
}
.image_container {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    
}
.image_container img {
    display: flex;
    min-width: auto;
    width: 30%;
    min-height: auto;
}
.section_catalog {
    padding-top: 50px;
}
.catalog__hero {
    position: relative;
    /* max-width: 1000px; */
    width: 100%;
    /* border-radius: 16px; */
    margin: 0 auto;
    padding: 30px 0;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: end;
    background: url('./img/carc.jpg') 50% 70% / cover no-repeat;
}
.catalog__hero::before {
    content: '';
    /* border-radius: 16px; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: .5;
}
.catalog__hero::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    width: 90px;
    height: 77px;
    background: url('./img/logo_img.png') 50% / contain no-repeat;
}
.catalog__hero__title {
    position: relative;
    text-align:left;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
}
.footer__item-link {
    font-size: 14px;
    transition: .2s;
}
.footer__item-link:hover {
    color: #ffffff;
}
.footer__contanct a:hover {
    color: #ffffff;
}
.nav-mobile {
    display: none;
}
.nav_menu-btn {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    
}
.nav_menu-btn.open .nav_menu-btn_line {
    /* opacity: 0; */
    width: 0;
}
.nav_menu-btn.open .nav_menu-btn_line:first-child{
    transform: rotate(45deg);
    top: calc(50% - 1px);
    opacity: 1;
    width: 100%;
}
.nav_menu-btn.open .nav_menu-btn_line:last-child{
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    bottom: auto;
    opacity: 1;
    width: 100%;
}
.nav_menu-btn_line {
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: #2b2b2b;
    transition: .3s;
}
.nav_menu-btn_line:first-child {
    top: 0;
}
.nav_menu-btn_line:last-child {
    top: auto;
    bottom: 0;
}
.menu_mobile {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: #0000009a;
    height:100%;
}
.menu_mobile_content {
    height:80%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 30px;
    justify-content: space-between;
}
.menu_mobile__nav_items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:10px;
}
.menu_mobile__nav_items .nav_item{
    margin: 0 auto;
    width: 100%;
    font-size: 18px;
    padding: 10px;
}
.menu_mobile__nav_items .nav_item.call {
    width: fit-content;
    margin:0;
}
.menu_mobile__nav_items-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;

}
.menu_mobile {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
.menu_mobile_content {
    transition: .3s;
    transform: translateY(-100%);
}
.menu_mobile.open {
    opacity: 1;
    pointer-events: all;
}
.menu_mobile.open .menu_mobile_content {
    transform: translateY(0);
}
.contacts-our {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.blog_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.blog__section-title {
    text-align: center;
    margin: 25px 0;
}
.blog_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
   
}
.blog_item::after {
    content: 'Читать';
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #13a537;
    color: #ffffff;
    border-radius: 8px;
    transition: .3s;
    transform: translateX(-100%);
    opacity: 0;
}
.blog_item:hover::after {
    transform: translateX(0);
    opacity: 1;
}
.blog__prev {
    width: 100%;
    height: 300px;
}
.blog__prev img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__title {
    font-size: 23px;
    line-height: 100%;
    min-height: 50px;
    padding: 0 10px;
}
.blog__text {
    padding: 0 10px;
    opacity: 0.6;
    font-weight: 500;
   height: 100px;
    overflow: hidden;
   
   
}

.blog_item.loading > * {
    background-color: #00000060;
}
.blog__text::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:linear-gradient(to top, #ffffff , #00000000 30% );
}
.blog_article {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog_article__img {
    height: 450px;
    width: 100%;
}
.blog_article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.blog_article__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog__text_title {
    font-size: 22px;
    text-align: center;
}
.blog__text-info {
    font-size: 22px;
    line-height: 150%;
}
.btn_back_blog {
    margin-top: 60px;
    padding: 10px 20px;
    background-color: #13a537;
    display: block;
    width: fit-content;
    font-weight: 500;
    color: #ffffff;
    border-radius: 8px;
}
.beard-crumb {
    justify-content: start;
    margin: 20px 0;
   
    font-weight: 500;
}
.beard-crumb a {
    opacity: 0.8;
}
.beard-crumb__title {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004d;
    z-index: 100;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-form.hidden {
    opacity: 0;
    pointer-events: none;
}
.modal-form.hidden .modal-form__content{
    transform: translateY(100%);
}
.modal-form__content {
    padding: 30px 20px;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 16px;
    position: relative;
    transition: .3s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form_img {
    background: url('./img/logoMob.png') 50% / contain no-repeat;
}
.modal-form__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: url('./img/close_black.svg') 50% / contain no-repeat;
    cursor: pointer;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-form__label {
    display: flex;
    flex-direction: column;
   
    font-size: 12px;
    color: #00000071;
}
.form_btn {
    padding: 10px 20px;
    background-color: #13A538;
    border: none;
    color: #ffffff;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;

}
.modal-form__label_privacy {
    display: flex;
    align-items: center;
    line-height: 100%;
    gap: 8px;
    color: #000000af;
    font-size: 12px;
}
.form_hints {
    font-size: 11px;
}
.input_form {
    height: 28px;
    border: none;
    background-color: #0000001a;
    border-radius: 8px;
    padding: 0 10px;
    transition: .2s;
}
.input_form:focus {
    outline: none;
    background-color: #13a53750;
}
@media (max-width:1100px) {
    .product-container {
        grid-template-columns:  1fr;
    
    }
    .product {
        grid-template-columns: 0.5fr 1fr;
    }
    .product-container.container__polik-product {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:900px) {
   
    .product-container.container__polik-product {
        grid-template-columns:1fr;
    }
    .product-container.container__polik-product .product {
        grid-template-columns:1fr 1fr;
    }
    .product {
        grid-template-columns: 1fr 1fr;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: flex;
    }
    .logo {
        height: 35px;
        max-width: 120px;
       
    }
    header.scrolled {
        padding: 10px 0;
    }
    .main {
        padding-top: 59px;
    }
    .logo_img_bg {
        width: 200px;
        height: 175px;
    }
    .hero__title {
        font-size: 32px;
    }
    .hero__text {
        font-size: 20px;
    }
    .section__title {
       font-size: 24px;
    }
    .about_us__items {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }
    .wrapper_catalog_items {
        flex-direction: column;
        gap: 10px;
    }
    .category_catalog  {
        height: 150px;
    }
    .why_items {
        flex-direction: column;
    }
    .why_item {
        max-width: 100%;
    }
    .footer_content {
        display: grid
    ;
        grid-template-columns:1fr;
        justify-items: start;
        gap: 30px;
    }
    footer {
        padding-bottom: 100px;
    }
}
@media (max-width:750px) {
    .catalog{
        flex-direction: column;
    }
    .sidebar {
        position: static;
        width: 100%;
        max-width: none;
    }
    .sidebar__title:first-child {
        border-radius: 16px 16px 0 0;
    }
}
@media (max-width:650px) {
    .form_img {
        display: none;
    }
    .modal-form__content {
        grid-template-columns: 1fr;
margin: 10px;
    }
    .contacts-our,
    .contacts__wrapper {
        grid-template-columns: 1fr;
    }
    .logo-page_about {
        display: none;
    }
    .contacts__company-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .blog_section,
    .blog_article__content {
        grid-template-columns: 1fr;
    }
    .blog__text-info {
        font-size: 18px;
        line-height: 150%;
    }
}
@media (max-width:500px) {
    .product-container.container__polik-product .product,
    .product {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .product-description__info-price,
    .product__desc_container,
    .availability-info {
        grid-column: auto;
    }
    .product__info {
        max-height: 250px;
        margin: 0 auto; 
       width: 100%;
    }
    .product-container.container__polik-product .product-description_polik,
    .product-description {
        grid-template-columns: 1fr ;
      
    }
    .content,
    .product-container {
        width: 100%;
    }
   
}